In [2]:
import pandas as pd

In [2]:
!pwd

/workspace

In [3]:
!ls

ls: reading directory '.': Operation not permitted

In [3]:
pd.read_csv('../input/test.csv')

   1  2  3
0  1  3  4
1  1  2  3